{
  "$$schema": "https://raw.githubusercontent.com/ScoopInstaller/Scoop/master/schema.json",
  "version": "${version}",
  "description": "High-performance HTML to Markdown converter powered by Rust",
  "homepage": "https://github.com/xberg-io/html-to-markdown",
  "license": "MIT",
  "architecture": {
    "64bit": {
      "url": "https://github.com/xberg-io/html-to-markdown/releases/download/${tag}/cli-x86_64-pc-windows-msvc.zip",
      "hash": "${win_x64_sha}",
      "extract_dir": "cli-x86_64-pc-windows-msvc"
    }
  },
  "bin": "html-to-markdown.exe",
  "suggest": {
    "vcredist": "extras/vcredist2022"
  },
  "checkver": {
    "github": "https://github.com/xberg-io/html-to-markdown"
  },
  "autoupdate": {
    "architecture": {
      "64bit": {
        "url": "https://github.com/xberg-io/html-to-markdown/releases/download/v$$version/cli-x86_64-pc-windows-msvc.zip"
      }
    }
  }
}
